
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.dotSelected {
    stroke: #ec7014;
}


/* Borderless */
.scatterTip tbody tr td, .scatterTip tbody tr th, .scatterTip thead tr th {
    border: none;
}


.vis-item.to00 {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.vis-item.to01 {
    background-color: #00AEED;
    border-color: #00AEED;
}
.vis-item.to10 {
    background-color: #EC54A1;
    border-color: #EC54A1;
}
.vis-item.to11 {
    background-color: #923F8C;
    border-color: #923F8C;
}